@model IEnumerable<JobsForJoe.Data.EF.OpenPosition>

@{
    ViewBag.Title = "Open Positions";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Position.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.State)
        </th>
        
        <th>
            <p>Apply</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Position.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.StoreName)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Location.City)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Location.State)
        </th>
        <td>
            <button class="btn btn-info">
                @Html.ActionLink("Apply", "Apply", new { id = item.OpenPositionID })
            </button>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OpenPositionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OpenPositionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OpenPositionID })
        </td>
    </tr>
}

</table>
