@model JobsForJoe.Data.EF.UserDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResumeFileName)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.ResumeFileName)*@
            <a href="@Url.Content("~/Content/Images/PDFS/" + Model.ResumeFileName)" target="_blank" class="btn btn-warning">Resume</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaristaImage)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.BaristaImage)*@
            <img src="~/Content/Images/Users/@Model.BaristaImage" alt="@Model.FirstName + @Model.LastName" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEmployed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEmployed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
