@model JobsForJoe.Data.EF.Application
@using Microsoft.AspNet.Identity
@using JobsForJoe.Data.EF

@{
    JobsForJoeEntities db = new JobsForJoeEntities();
    string userId = User.Identity.GetUserId();
    UserDetail deets = db.UserDetails.Where(u => u.UserID == userId).SingleOrDefault();
    ViewBag.Title = "Application Details";
}



<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h2 class="card-title">Details</h2>
                        <p class="card-category"></p>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">

                                <div>
                                    <h4>Application</h4>
                                    <hr />

                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.UserID)
                                        </dt>

                                        @foreach (UserDetail user in ViewBag.UserDetails)
                                        {
                                            if (Model.UserID == user.UserID)
                                            {
                                                <dd>
                                                    @user.FirstName @user.LastName
                                                </dd>
                                            }
                                        }

                                        <dt>
                                            @Html.DisplayNameFor(model => model.ApplicationDate)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ApplicationDate)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.ManagerNotes)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ManagerNotes)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.IsDeclined)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.IsDeclined)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.ResumeFilename)
                                        </dt>

                                        <dd>
                                            <a class="btn btn-primary btn-round" href="@Url.Content("~/Content/Images/PDFS/" + Model.ResumeFilename)" target="_blank">Resume</a>
                                            @*@Html.DisplayFor(model => model.ResumeFilename)*@
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionID)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.OpenPosition.OpenPositionID)
                                        </dd>

                                    </dl>
                                </div>
                                <p>
                                    @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationsID }) |
                                    @Html.ActionLink("Back to List", "Index")
                                </p>

                                <thead class="text-primary">
                                    <dl class="dl-horizontal"></dl>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



