@model IEnumerable<JobsForJoe.Data.EF.Application>

@{
    ViewBag.Title = "Applications";
}

<h2>ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeclined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResumeFilename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeclined)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResumeFilename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenPosition.OpenPositionID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ApplicationsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ApplicationsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ApplicationsID })
        </td>
    </tr>
}

</table>
