@model JobsForJoe.UI.MVC.Models.ContactViewModel
@{
    ViewBag.Title = "Contact Us";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<div class="row" id="contact">
    <div class="col-md-8 col-sm-offset-2">
        <div class="contact-form">
            <h2 class="title text-center">Get In Touch</h2>
            <div class="status alert alert-success" style="display: none"></div>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group col-md-6">
                    @Html.TextBoxFor(x => x.Name, new { placeholder = "Name", @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.TextBoxFor(x => x.Email, new { placeholder = "Email", @class = "form-control" })
                </div>
                <div class="form-group col-md-12">
                    @Html.TextBoxFor(x => x.Subject, new { placeholder = "Subject", @class = "form-control" })
                </div>
                <div class="form-group col-md-12">
                    @Html.TextAreaFor(x => x.Message, new { placeholder = "Your Message Here", @class = "form-control", id = "message", rows = "8", title = "Please include all relevant information" })
                </div>
                <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit" />

            }
        </div>
    </div>
</div>
